* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Golos Text";
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgb(248, 248, 249);
}
.header__container .local {
  display: flex;
  align-items: center;
  gap: 24px;
  transition: all 0.5s;
}
.header__container .local a {
  margin-left: 4px;
  color: #6c7178;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 12px;
  font-weight: 400;
}
.header__container .local :hover {
  color: #337ab7;
}

.myself_nav {
  display: flex;
  text-align: center;
  gap: 24px;
}
.myself_nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  transition: all 0.5s;
}
.myself_nav ul a {
  text-decoration: none;
  color: rgb(108, 113, 120);
  transition: all 0.5s;
  font-size: 12px;
  font-weight: 400;
}
.myself_nav ul :hover {
  color: #337ab7;
}
.myself_nav select {
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: rgb(108, 113, 120);
  background: rgb(248, 248, 249);
}
.myself_nav select option {
  font-size: 12px;
  font-weight: 400;
}

.information {
  background: white;
}

.information__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.information__container .search {
  display: flex;
  align-items: center;
  gap: 16px;
}
.information__container .search button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(217, 46, 21);
  border: none;
  color: white;
  padding: 12px 16px;
  border-radius: 14px;
  border: 1px solid rgb(217, 46, 21);
  cursor: pointer;
  transition: all 0.5s;
}
.information__container .search button img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(90%) saturate(2%) hue-rotate(236deg) brightness(105%) contrast(101%);
}
.information__container .search input {
  width: 577px;
  height: 51px;
  padding: 0px 20px;
  border-radius: 12px;
  border: 1px solid rgb(69, 62, 62);
}
.information__container .search .sech {
  width: 20px;
  height: 20px;
  background: #000;
}
.information__container .items {
  display: flex;
  align-items: center;
  gap: 24px;
}
.information__container .items .buyurtma {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
.information__container .items .buyurtma :hover {
  color: #337ab7;
}
.information__container .items .buyurtma p {
  font-weight: 500;
  color: rgb(29, 36, 47);
  font-size: 14px;
  transition: all 0.5s;
}

.nav__link {
  padding: 6px 15px 16px;
  gap: 29px;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.5s;
}
.nav__link a {
  text-decoration: none;
  margin-right: 15px;
  font-weight: 400;
  color: rgb(108, 113, 120);
  transition: all 0.5s;
}
.nav__link :first-child {
  width: 100px;
  height: 25px;
  border: 1px solid 34dd01;
  padding: 6px 13px;
  border-radius: 20px;
  background: #34dd01;
  color: white;
}
.nav__link :hover {
  color: #337ab7;
}

.kategoriya {
  padding: 0px 15px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.kategoriya .kategoriya__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kategoriya .kategoriya__text h3 {
  font-size: 24px;
  font-weight: 700;
}
.kategoriya .kategoriya__text a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(29, 36, 47);
}
.kategoriya .kategoriya__text a :hover {
  color: #337ab7;
}

.kategoriya__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.kategoriya__card .barcha {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 215px;
  height: 81px;
  padding: 16px;
  border-radius: 18px;
  border: 2px solid rgb(236, 228, 228);
  cursor: pointer;
  transition: all 0.5s linear;
}
.kategoriya__card .barcha:hover {
  border-color: rgb(161, 149, 149);
}

.artel {
  padding: 0px 15px;
}
.artel h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.artel .artel__nav a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 14px;
  border: 1px solid #6c7178;
  background-color: #ededed;
  border-radius: 40px;
  margin-right: 10px;
  transition: all 0.5s;
}
.artel .artel__nav :first-child {
  background-color: #000;
  color: white;
}
.artel .artel__nav :hover {
  background-color: #000000;
  color: white;
}

.artel__card {
  margin-top: 50px;
  width: 215px;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  gap: 25px;
}
.artel__card .telvizor__card {
  transition: all 0.5s linear;
  border: 2px solid transparent;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
}
.artel__card .telvizor__card:hover {
  border-color: rgb(224, 222, 222);
}
.artel__card .telvizor__card .sum {
  margin-top: 25px;
}
.artel__card h5 {
  background-color: rgb(14, 126, 46);
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  font-size: 12px;
  color: white;
}
.artel__card img {
  align-items: center;
}
.artel__card span {
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 500;
  color: rgb(108, 113, 120);
  display: inline-block;
  padding-top: 15px;
}
.artel__card h3 {
  margin-top: 4px;
  font-size: 18px;
  color: rgb(29, 36, 47);
}
.artel__card h6 {
  margin-top: 8px;
  border: 1px solid rgb(11, 43, 94);
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(11, 43, 94);
  text-align: center;
  border-radius: 8px;
}
.artel__card p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  color: rgb(108, 113, 120);
  margin-bottom: 12px;
}
.artel__card .star {
  display: flex;
  align-items: center;
  gap: 5px;
}
.artel__card .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
}
.artel__card .card__footer .magazin {
  background-color: rgb(217, 46, 21);
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.artel__card .card__footer .card_cen {
  background-color: rgb(247, 248, 248);
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.artel__card .card__footer .like {
  background-color: rgb(247, 248, 248);
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.artel__card .card__footer :hover {
  background: rgb(217, 46, 21);
}
.artel__card .card__footer :first-child:hover {
  background-color: rgb(159, 48, 30);
}

.yangilik__text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: -20px;
}

.yangilik h5 {
  background-color: rgb(211, 33, 64);
}

.xitlar__main {
  display: flex;
  gap: 35px;
}

.Xitlar__text {
  margin-bottom: -30px;
  margin-top: 15px;
}
.Xitlar__text h3 {
  font-size: 24px;
  font-weight: 700;
}

.Xitlar h5 {
  background-color: rgb(211, 33, 64);
}
.Xitlar button {
  padding: 14px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  border: 1px solid rgb(217, 46, 21);
  border-radius: 10px;
  background-color: rgb(217, 46, 21);
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.Xitlar button:hover {
  background-color: transparent;
  color: rgb(217, 46, 21);
}

.nav__artel {
  margin-bottom: -30px;
}

.carousel__img img {
  border-radius: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.notebook h4 {
  margin: 30px 15px;
  font-size: 24px;
  font-weight: 700;
}

.notebook__card__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.notebook__card__main .notebook__card {
  width: 220px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.5s linear;
  border: 2px solid transparent;
}
.notebook__card__main .notebook__card:hover {
  border-color: rgb(224, 222, 222);
}
.notebook__card__main .notebook__card .notebook__star {
  display: flex;
  gap: 5px;
  margin-bottom: 12px;
}
.notebook__card__main .notebook__card .notebook__star img:first-child {
  margin-left: 28px;
}
.notebook__card__main .notebook__card span {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  color: rgb(108, 113, 120);
}
.notebook__card__main .notebook__card h3 {
  font-size: 18px;
  margin-top: 36px;
  margin-bottom: 15px;
}
.notebook__card__main .notebook__card .footer__notebook {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(249, 249, 249);
  border-radius: 12px;
  text-align: center;
  padding: 3px;
}
.notebook__card__main .notebook__card .footer__notebook span {
  padding: 9px 9px;
  background-color: rgb(255, 255, 255);
  margin-top: 1px;
  border-radius: 12px;
}
.notebook__card__main .notebook__card .footer__notebook p {
  margin-top: 7px;
  margin-right: 10px;
  color: rgb(83, 85, 88);
}

.brendlar {
  padding: 0px 15px;
}
.brendlar h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
}
.brendlar .main__brend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brendlar .main__brend .brend {
  margin-top: 15px;
  border: 2px solid rgb(250, 241, 241);
  padding: 20px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.brendlar .main__brend .brend:hover {
  border-color: rgb(204, 204, 204);
}

.tanlashlar {
  padding: 0px 15px;
  margin-top: 36px;
}
.tanlashlar h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.tanlashlar .main__tanlash {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tanlashlar .main__tanlash .tanlash {
  width: 240px;
  height: 226px;
  padding: 16px;
  border: 2px solid rgb(250, 241, 241);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.tanlashlar .main__tanlash .tanlash img {
  padding: 10px;
  background: rgb(253, 245, 243);
  border-radius: 10px;
}
.tanlashlar .main__tanlash .tanlash:hover {
  border-color: rgb(204, 204, 204);
}
.tanlashlar .main__tanlash .tanlash h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
}
.tanlashlar .main__tanlash .tanlash p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(108, 113, 120);
  line-height: 120%;
}/*# sourceMappingURL=main.css.map */