.artel {
  padding: 0px 15px;
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .artel__nav {
    a {
      text-decoration: none;
      font-size: 12px;
      font-weight: 400;
      padding: 6px 14px;
      border: 1px solid #6c7178;
      background-color: #ededed;
      border-radius: 40px;
      margin-right: 10px;
      transition: all 0.5s;
    }
    :first-child {
      background-color: #000;
      color: white;
    }
    :hover {
      background-color: #000000;
      color: white;
    }
  }
}

.artel__card {
  margin-top: 50px;

  width: 215px;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  gap: 25px;

  .telvizor__card {
    transition: all 0.5s linear;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 12px;

    &:hover {
      border-color: rgb(224, 222, 222);
    }
  }
  h5 {
    background-color: rgb(14, 126, 46);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;

    font-size: 12px;
    color: white;
  }
  img {
    align-items: center;
  }
  span {
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 500;
    color: rgb(108 113 120);
  }
  h3 {
    margin-top: 4px;
    font-size: 18px;
    color: rgb(29 36 47);
  }
  h6 {
    margin-top: 8px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(108 113 120);
    text-align: center;
    border-radius: 8px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    color: rgb(108 113 120);
    margin-bottom: 12px;
  }
  .star {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    .magazin {
      background-color: rgb(217 46 21);
      padding: 14px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s;
    }

    .card_cen {
      background-color: rgb(247 248 248);
      padding: 14px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s;
    }

    .like {
      background-color: rgb(247 248 248);
      padding: 14px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s;
    }
    :hover {
      background: rgb(217 46 21);
    }
    :first-child:hover {
      background-color: rgb(159, 48, 30);
    }
  }
}

.yangilik__text {
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: -20px;
  }
}
.yangilik {
  h5 {
    background-color: rgb(211, 33, 64);
  }
}

.xitlar__main {
  display: flex;
  gap: 35px;
}

.Xitlar__text {
  margin-bottom: -30px;
  margin-top: 15px;

  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}

.Xitlar {
  h5 {
    background-color: rgb(211, 33, 64);
  }
  button {
    padding: 14px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;

    border: 1px solid rgb(217 46 21);
    border-radius: 10px;
    background-color: rgb(217 46 21);

    color: white;
    transition: all 0.5s;

    &:hover {
      background-color: transparent;
      color: rgb(217 46 21);
    }
  }
}
.nav__artel {
  margin-bottom: -30px;
}

.carousel__img {
  img {
    border-radius: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
